@-webkit-keyframes flick
{
0% {opacity:.5;}
9% {opacity:.4;}
10% {opacity:.5;}
13% {opacity:.4;}
20% {opacity:.5;}
25% {opacity:1;}
}

.title {
	-webkit-animation: flick 2s infinite;
	color: Lime;
	text-align: center;
	font-size: 900%;
	margin-top: 75 px;
	font-family: Neon;
	text-shadow:0 0 7px Lime;
}

#indexBody {
	width: 100%;
	background-color: black;
}

.subtitle {
	color: Lime;
	text-align: left;
	font-size: 300%;
	margin-top: 75 px;
	-webkit-animation: flick 2s infinite;
	font-family: Neon;
}

.enterUser {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 165%;
	text-align: center;
	color: Gold;
	margin-top: 12%;
}

.userIn {
	width:30%;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 100%;
	text-align: center;
	color: dimgrey;
	margin-left: 35%;
	margin-right: 35%;
}

.btn {
	font-family: 'Montserrat', sans-serif;
	border-radius: 0;
	border-style: none;
	margin: 0;
	padding: 0;
	font-weight: 700;
	display: block;
	width: 50%;
	font-size: 15px;
	vertical-align: middle;
	outline: none !important;
	margin: auto;
}

.btn-design1 {
	background: none;
	color: #22AFCA !important;
	transition: all 280ms ease-in-out 0s;
	letter-spacing: 1px;
}

.btn-design1::after, .btn-design1::before {
 border: 1px solid rgba(255, 255, 255, 0);
 bottom: 0;
 content: " ";
 display: block;
 margin: 15px auto;
 position: relative;
 transition: all 280ms ease-in-out 0s;
 width: 0;
 box-shadow: 0px 0px 0px #22AFCA;
}

.btn-design1:hover {
	letter-spacing: 4px;
}
.btn-design1:hover::after, 
.btn-design1:hover::before {
 border: 1px solid #22AFCA;
 transition: width 350ms ease-in-out 0s;
 width: 100%;
 box-shadow: 0 0 19px 1px #0c75d7;
}

@font-face {
    font-family: 'Neon';
    font-style: normal;
    font-weight: normal;
    src: local('Neon'), url('Neon.woff') format('woff');
}

.header-section {
	float: center;
	width: 100%;
	height: 15%;
}

.title-section {
	float: left;
	height: 15%;
	width: 50%
}

.status-section {
	float: right;
	height: 15%;
	width: 40%
}

.status {
	font-family: roboto-mono, monospace;
	font-weight: 300;
	font-size: 200%;
	text-align: left;
	color: Gold
}

.center-nav{
	width: 100%;

}

#navigationBody {
	width: 100%;
	color: #fff;
	margin-left: 10%;
	font-family: monospace;
	background-color: black;
  }
  
  .grid {
	width: 55%;
	background: #3dd3ed;
	display: grid;
	grid-auto-rows: 20vw;
	grid-gap: .25rem;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	
  }
  
  @media (min-width: 30rem) {
	.grid {
	grid-auto-rows: 5vw;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
	}
  }
  
  .grid__item {
	animation: 1s linear 0s alternate infinite flicker;
	background: black;
	box-shadow: inset 0 0 2rem #3dd3ed;
	padding: 2rem;
  }
  
  
  @media (min-width: 60rem) {
  
  @keyframes flicker { from { 
	box-shadow: inset 0 0 1.5rem #3dd3ed; } to { 
	box-shadow: inset 0 0 1rem #3dd3ed; }  }
  }

  .cargo-container {
	  float: right;
	  text-align: left;
	  width:30%;
	  height: 40px;
  }

  .cargo-list{
	list-style-type:none;
  }

  .cargo-item {
	font-family: roboto-mono, monospace;
	font-weight: 300;
	font-size: 200%;
	text-align: left;
	color: Gold;
}

  .cargo-title{
	font-family: roboto-mono, monospace;
	font-weight: 400;
	font-size: 200%;
	text-align: left;
	color: red;
  }