.title {
	color: Lime;
	text-align: center;
	font-size: 500%;
	margin-top: 75 px;
}

body {
	background-color: black;
}

.enterUser {
	font-family: roboto-mono, monospace;
	font-weight: 300;
	font-size: 200%;
	text-align: center;
	color: Gold;
	margin-top: 15%;
}

.robotoLightItalic{
	font-family: roboto-mono, monospace;
	font-weight: 300;
	font-style: italic;
}

.robotoLight{
	font-family: roboto-mono, monospace;
	font-weight: 300;
}

.robotoRegItalic{
	font-family: roboto-mono, monospace;
	font-weight: 400;
	font-style: italic;
}

.robotoReg{
	font-family: roboto-mono, monospace;
	font-weight: 400;
}

.robotoMedItalic{
	font-family: roboto-mono, monospace;
	font-weight: 500;
	font-style: italic;
}

.robotoMed{
	font-family: roboto-mono, monospace;
	font-weight: 500;
}

.robotoBoldItalic{
	font-family: roboto-mono, monospace;
	font-weight: 700;
	font-style: italic;
}

.robotoBight{
	font-family: roboto-mono, monospace;
	font-weight: 700;
}

