<!DOCTYPE html>
<html>

<head>
	<title>Trade Wars Chat Page</title>
	<link rel="stylesheet" href="../static/css/main.css">
	<link rel="stylesheet" href="https://use.typekit.net/ajk4nke.css">
	<script>
	</script>

</head>
<body id = "chatBody">
        <div class = "header-section">
                <div class="status-section">
                       
                        <h1 class = "status">STATUS MESSAGE</h1>
                        
                
                </div>
            <div class = "title-section">
                    <h1 class="subtitle">TRADE WARS</h1>
            </div>
            <!-- <button class="btn btn-design1">TRADE</button> -->
        
                
        </div>
        <section class= "chat-main-section">
                <section class = "my-stuff-menu">
                        <ul class="cargo-list">
        
                                <li><p class="cargo-title">My Stuff</p></li>
                                
                                <li><p class="cargo-item">ITEM <button class="btn-design4">Trade</button></p></li>
                                 <li><p class="cargo-item">ITEM <button class="btn-design4">Trade</button></p></li>
                                <li><p class="cargo-item">ITEM <button class="btn-design4">Trade</button></p></li>
                                <li><p class="cargo-item">ITEM <button class="btn-design4">Trade</button></p></li>
                        </ul>
                </section>
                <secton class = "chat">
                        <section class="msger">
                                <header class="msger-header">
                                  <div class="msger-header-title">
                                    <i class="fas fa-comment-alt"></i> ChatPlaceholder
                                  </div>
                                  <div class="msger-header-options">
                                    <span><i class="fas fa-cog"></i></span>
                                  </div>
                                </header>
                              
                                <main class="msger-chat">
                                  <div class="msg left-msg">
                                    <div
                                     class="msg-img"
                                     style="background-color: #3dd3ed;"
                                    ></div>
                              
                                    <div class="msg-bubble">
                                      <div class="msg-info">
                                        <div class="msg-info-name">Person 2</div>
                                        <div class="msg-info-time">12:45</div>
                                      </div>
                              
                                      <div class="msg-text">
                                        I have all the things!
                                      </div>
                                    </div>
                                  </div>
                              
                                  <div class="msg right-msg">
                                    <div
                                     class="msg-img"
                                     style="background-color: #FFCC00;"
                                    ></div>
                              
                                    <div class="msg-bubble">
                                      <div class="msg-info">
                                        <div class="msg-info-name">Person 1</div>
                                        <div class="msg-info-time">12:46</div>
                                      </div>
                              
                                      <div class="msg-text">
                                        Help me I'm poor!
                                      </div>
                                    </div>
                                  </div>
                                </main>
                              
                                <form class="msger-inputarea">
                                  <input type="text" class="msger-input" placeholder="Enter your message...">
                                  <button type="submit" class="btn-design4">Send</button>
                                </form>
                              </section>
                </secton>
        </section>
</body>

</html>