<!DOCTYPE html>
	<head>
		<meta charset='utf-8'>
		<title>Trade Wars Home</title>
	</head>
	<body>
		<header>
			<h1><a href='/'>Trade Wars</a></h1>
		</header>
		<nav>
			<a href="/">Home</a>
		</nav>
		<main>
		</main>
	</body>
</html>