<!DOCTYPE html>
<html>
<head>

        <title>Trade Wars Navigation Page</title>
        <link rel="stylesheet" href="../static/css/main.css">
        <link rel="stylesheet" href="https://use.typekit.net/ajk4nke.css">

</head>
<body id = "navigationBody">
        <div class = "header-section">
                <div class="status-section">
                       
                        <h1 class = "status">STATUS MESSAGE</h1>
                        <p style="color:lime;" id="showUser"></p>
                        
                
                </div>
            <div class = "title-section">
                    <h1 class="subtitle">TRADE WARS</h1>
            </div>
            <!-- <button class="btn btn-design1">TRADE</button> -->
        
                
        </div>
        
    <div class = "center-nav">
            <div class = "cargo-container">
                    
                    <ul class="cargo-list">

                        <li><p class="space-wallet">$pace Buck$</p></li>

                        <li><p class="cargo-title">CARGO</p></li>
                        
                        <li><p class="cargo-item">ITEM</p></li>
                         <li><p class="cargo-item">ITEM</p></li>
                        <li><p class="cargo-item">ITEM</p></li>
                        <li><p class="cargo-item">ITEM</p></li>
                    </ul>
                    
            </div>
       
        </div>
<!-- div container full of approx 2million div containers makes up the navigation "grid"-->
<div class="grid">
  
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item ">
        </section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item ">
        </section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item ">
        </section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item ">
        </section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
        <section class="grid__item"></section>
      </div> 
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>         
    <script type="text/javascript" src="../static/js/main.js"></script>
   
        
</body>
</html>