<!DOCTYPE html>
<html>

<head>
	<title>Trade Wars Trade Page</title>
	<link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="https://use.typekit.net/ajk4nke.css">
    <link href="https://fonts.googleapis.com/css?family=Orbitron&display=swap" rel="stylesheet">
	<script>
	</script>

</head>

<body id = "tradeBody">

        <section class = "header-section">
            <section class="status-section">
                    <h1 class = "status">STATUS MESSAGE</h1>
                    <!-- <h1 class = "space-wallet">Space Bucks</h1> -->
            </section>
            <section class = "title-section">
                    <h1 class="subtitle">TRADE WARS</h1>
            </section>
                
        </section>

        <section class = "trade-menu-section">
                <section class = "my-stuff-menu">
                        <ul class="cargo-list">
        
                                <li><p class="cargo-title">My Stuff</p></li>
                                
                                <li><p class="cargo-item">ITEM <button class="btn-design4">Trade</button></p></li>
                                 <li><p class="cargo-item">ITEM <button class="btn-design4">Trade</button></p></li>
                                <li><p class="cargo-item">ITEM <button class="btn-design4">Trade</button></p></li>
                                <li><p class="cargo-item">ITEM <button class="btn-design4">Trade</button></p></li>
                        </ul>
                    </section>
            <section class = "trade-options-menu">
                    <ul class="cargo-list">
    
                            <li><p class="cargo-title">Not My Stuff</p></li>
                            
                            <li><p class="cargo-item">ITEM <button class="btn-design4">Buy</button></p></li>
                            <li><p class="cargo-item">ITEM <button class="btn-design4">Buy</button></p></li>
                            <li><p class="cargo-item">ITEM <button class="btn-design4">Buy</button></p></li>
                            <li><p class="cargo-item">ITEM <button class="btn-design4">Buy</button></p></li>
                     </ul>
            </section>

        </section>


</body>

</html>