@-webkit-keyframes flick
{
0% {opacity:.5;}
9% {opacity:.4;}
10% {opacity:.5;}
13% {opacity:.4;}
20% {opacity:.5;}
25% {opacity:1;}
}

@font-face {
    font-family: 'Neon';
    font-style: normal;
    font-weight: normal;
    src: local('Neon'), url("/static/fonts/Neon.woff") ;
}

.title {
	-webkit-animation: flick 2s infinite;
	color: Lime;
	text-align: center;
	font-weight: 550;
	font-size: 900%;
	margin-top: 75 px;
	font-family: 'Neon', 'Orbitron', sans-serif;
	text-shadow:0 0 7px Lime;
}

#indexBody {
	width: 100%;
	background-color: black;
	background-image: radial-gradient(rgba(0, 150, 0, 0.35), black 120%);
  	height: 100vh;
  	text-shadow: 0 0 2px #C8C8C8;
  	transform: skewx(2deg) translatex(3%);
 	transform-origin: 50% 50%;
}

#indexBody::after {
  background: repeating-linear-gradient(
    0deg,
    rgba(black, 0.15),
    rgba(black, 0.15) 1px,
    transparent 1px,
    transparent 2px
  );
}

.subtitle {
	color: Lime;
	text-align: left;
	font-size: 300%;
	margin-top: 75 px;
	-webkit-animation: flick 2s infinite;
	font-family: 'Neon';
}

.enterUser {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 165%;
	text-align: center;
	color: Gold;
	margin-top: 12%;
}

.userIn {
	width:30%;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 100%;
	text-align: center;
	color: dimgrey;
	margin-left: 35%;
	margin-right: 35%;
	margin-top: 10%;
}

.btn {
	font-family: 'Montserrat', sans-serif;
	border-radius: 0;
	border-style: none;
	margin: 0;
	padding: 0;
	font-weight: 700;
	display: block;
	width: 50%;
	font-size: 15px;
	vertical-align: middle;
	outline: none !important;
	margin: auto;
}

.btn-design1 {
	background: none;
	color: #22AFCA !important;
	transition: all 280ms ease-in-out 0s;
	letter-spacing: 1px;
}

.btn-design1::after, .btn-design1::before {
 border: 1px solid rgba(255, 255, 255, 0);
 bottom: 0;
 content: " ";
 display: block;
 margin: 15px auto;
 position: relative;
 transition: all 280ms ease-in-out 0s;
 width: 0;
 box-shadow: 0px 0px 0px #22AFCA;
}

.btn-design1:hover {
	letter-spacing: 4px;
}
.btn-design1:hover::after, 
.btn-design1:hover::before {
 border: 1px solid #22AFCA;
 transition: width 350ms ease-in-out 0s;
 width: 100%;
 box-shadow: 0 0 19px 1px #0c75d7;
}

.btn-design4 {
	margin: 16px auto;
	letter-spacing: 2px;
	padding: 16px;
	color: #fff !important;
	border: 0px solid #0c75d7;
	background: #22AFCA;
	transition: box-shadow 0.3s ease-in-out;
	transition: background 0.2s ease;
}
.btn-design4:hover {
	background: none;
	transition: box-shadow 0.03s ease-in-out;
	box-shadow: 0 0 12px 0px #0c75d7;
	border: 1px solid #22AFCA;
}

.header-section {
	float: center;
	width: 100%;
	height: 100px;
}

.title-section {
	float: left;
	height: 100px;
	width: 50%;
}

.status-section {
	float: right;
	height: 100px;
	width: 40%
}

.status {
	font-family: roboto-mono, monospace;
	font-weight: 300;
	font-size: 200%;
	text-align: left;
	color: #FFCC00;
	text-shadow: 0 0 5px; 

}

.center-nav{
	width: 100%;

}

#navigationBody {
	width: 100%;
	color: #fff;
	margin-left: 10%;
	font-family: monospace;
	background-color: black;
	background-image: radial-gradient(rgba(0, 150, 0, 0.35), black 120%);
  	height: 100vh;
  	text-shadow: 0 0 2px #C8C8C8;
  	transform: skewx(2deg) translatex(3%);
 	transform-origin: 50% 50%;
  }

#navigationBody::after {
	background: repeating-linear-gradient(
	0deg,
	rgba(black, 0.15),
	rgba(black, 0.15) 1px,
	transparent 1px,
	transparent 2px
	);
}
  
  .grid {
	width: 55%;
	background: #3dd3ed;
	display: grid;
	grid-auto-rows: 20vw;
	grid-gap: .25rem;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	
  }
  
  @media (min-width: 30rem) {
	.grid {
	grid-auto-rows: 5vw;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
	}
  }
  
  .grid__item {
	animation: 1s linear 0s alternate infinite flicker;
	background: black;
	box-shadow: inset 0 0 2rem #3dd3ed;
	padding: 2rem;
  }
  
  
  @media (min-width: 60rem) {
  
  @keyframes flicker { from { 
	box-shadow: inset 0 0 1.5rem #3dd3ed; } to { 
	box-shadow: inset 0 0 1rem #3dd3ed; }  }
  }

  .cargo-container {
	  float: right;
	  text-align: left;
	  width:30%;
	  height: 40px;
  }

  .cargo-list{
	list-style-type:none;
  }

  .cargo-item {
	font-family: roboto-mono, monospace;
	font-weight: 300;
	font-size: 200%;
	text-align: left;
	color: #FFCC00;
	text-shadow: 0 0 5px;
}

  .cargo-title{
	font-family: roboto-mono, monospace;
	font-weight: 400;
	font-size: 200%;
	text-align: left;
	color: red;
	text-shadow: 0 0 5px; 
  }

  .space-wallet{
	font-family: roboto-mono, monospace;
	font-weight: 400;
	font-size: 200%;
	text-align: left;
	color: lime;
	text-shadow: 0 0 5px; 
  }

  #tradeBody {
	width: 100%;
	color: #fff;
	margin-left: 10%;
	font-family: monospace;
	background-color: black;
  }

  .trade-menu-section{
	width: 75%;
	height: 500px;
  }
  
  .trade-options-menu{
	float: left;
	text-align: left;
	width:30%;
	border: 1px solid #3dd3ed;
  }

  .my-stuff-menu{
	float: right;
	text-align: left;
	width:30%;
	border: 1px solid #3dd3ed;

  }

  #chatBody {
	width: 100%;
	color: #fff;
	margin-left: 10%;
	font-family: monospace;
	background-color: black;
  }

  .chat-main-section{
	width: 75%;
	height: 500px;
  }

  .msger {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	width: 50%;
	margin: 25px 10px;
	height: calc(100% - 50px);
	border: var(--border);
	border-radius: 5px;
	background: var(--msger-bg);
	box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
  }

  .msger-header {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	border-bottom: var(--border);
	color: #3dd3ed;
  }

  .msger-chat {
	flex: 1;
	overflow-y: auto;
	padding: 10px;
  }
  .msger-chat::-webkit-scrollbar {
	width: 6px;
  }
  .msger-chat::-webkit-scrollbar-track {
	background: #3dd3ed;
  }

  .msger-chat::-webkit-scrollbar-thumb {
	background: #3dd3ed;
  }
  .msg {
	display: flex;
	align-items: flex-end;
	margin-bottom: 10px;
  }
  .msg:last-of-type {
	margin: 0;
  }
  .msg-img {
	width: 50px;
	height: 50px;
	margin-right: 10px;
	border-radius: 50%;
  }

  .msg-bubble {
	max-width: 450px;
	padding: 15px;
	border-radius: 15px;
	background: var(--left-msg-bg);
  }
  .msg-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
  }
  .msg-info-name {
	margin-right: 10px;
	font-weight: bold;
  }
  .msg-info-time {
	font-size: 0.85em;
  }
  
  .left-msg .msg-bubble {
	border-bottom-left-radius: 0;
  }
  
  .right-msg {
	flex-direction: row-reverse;
  }
  .right-msg .msg-bubble {
	background: var(--right-msg-bg);
	color: #fff;
	border-bottom-right-radius: 0;
  }
  .right-msg .msg-img {
	margin: 0 0 0 10px;
  }
  
  .msger-inputarea {
	display: flex;
	padding: 10px;
	border-top: var(--border);
  }
  .msger-inputarea * {
	padding: 10px;
	border: none;
	border-radius: 3px;
	font-size: 1em;
	margin-right: 10px;
  }
  .msger-input {
	flex: 1;
  }

  .ship {
	height: 25px;
	width: 25px;
	background-color: #3dd3ed;
	border-radius: 50%;
	display: inline-block;
  }
